.background {
    background: url(Image/f1.jpg) no-repeat;
    -moz-background-size: auto;
    -webkit-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
}
.jumbotron {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #fffdf5;
}

.jumbotron.jumbotron-introduction {

    background-image: url(Image/introduction2.jpg);
    height: 535px;
}

.jumbotron.jumbotron-fantasy {
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-image: url(Image/fantasy2.jpg);
    background-size: cover;
    color: white;
}

.jumbotron.jumbotron-stalker {
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-image: url(Image/stalker.jpg);
    background-size: cover;
    color: white;
}

.jumbotron.jumbotron-postapacal {
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-image: url(Image/postapac2.jpg);
    background-size: cover;
    color: white;

}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 50rem;
}

.scrollTop {
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-9999px;
    background: url(Image/scroll.png) ;
}

footer {
    padding: 3rem 0;
    color: #999;
    text-align: center;
    border-top: .05rem solid #e5e5e5;
    background-color: rgba(0, 0, 0, 0.07);
}
footer p {
    margin-bottom: 5;
}

/* Featurettes
------------------------- */

.featurette-divider {
    margin: 0.1rem ; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

.btn-list li:not(.title)
{
    float:left
}

.btn-gradient
{
    width:36px;
    height:36px;
    text-align:center;
    line-height:2.2;
    display:block;
    margin:10px;
    border-radius:2px;
    -webkit-transition:all 300ms;
    transition:all 300ms
}

#light
{
    margin:0px;
}

#light .btn-gradient
{
    color: rgba(255, 246, 254, 0.54);
    box-shadow:0 0 1px rgba(255, 246, 254, 0.54)
}

#light .btn-gradient:hover
{
    color:#FFF
}

@-webkit-keyframes Gradient {
    0%
    {
        background-position:0 50%
    }

    50%
    {
        background-position:100% 50%
    }

    100%
    {
        background-position:0 50%
    }
}

@keyframes Gradient {
    0%
    {
        background-position:0 50%
    }

    50%
    {
        background-position:100% 50%
    }

    100%
    {
        background-position:0 50%
    }
}

#light .btn-gradient.instagram:hover
{
    box-shadow:0 5px 8px rgba(63,81,181,0.25);
    background:#FFC107;
    background:-webkit-linear-gradient(left,#FFC107 0%,#F50057 50%,#3F51B5 100%);
    background:linear-gradient(to right,#FFC107 0%,#F50057 50%,#3F51B5 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC107',endColorstr='#3F51B5',GradientType=1);
    background-size:400%;
    -webkit-animation:Gradient 5s ease infinite;
    animation:Gradient 5s ease infinite
}

#light .btn-gradient.vk:hover
{
    box-shadow:0 5px 8px rgba(3,169,244,0.25);
    background:#0288D1;
    background:-webkit-linear-gradient(left,#0288D1 0%,#2196F3 100%);
    background:linear-gradient(to right,#0288D1 0%,#2196F3 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0288D1',endColorstr='#2196F3',GradientType=1);
    background-size:400%;
    -webkit-animation:Gradient 1s ease infinite;
    animation:Gradient 1s ease infinite
}

